* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
}

body {
    background-color: #c5c5c5;
}

#titleHead {
    display: flex;
    height: 220px;
    justify-content: flex-start;
    align-items: flex-end;
    color: #4f4789;
    background-image: url("banner1.jpg");
    background-size: cover;
    font-size: 2em;
    text-shadow: 3px 3px #201335;
}

#container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.allImages {
    border: 2px solid #201335;
    margin: 10px;
    background-color: #201335;
    color: #c5c5c5;
}

.theImage {
    width: 300px;
    height: 300px;
    object-fit: cover;
    background-color: black;
    margin: 5px;
    border-radius: 15px;
}

.theTitle {
    text-align: center;
    color: #c5c5c5;
}

.allImageLinks {
    text-decoration: none;
}

#uploadBar {
    background-color: #4f4789;
    height: 60px;
    border: 5px solid #201335;
}

#uploadBar form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#detailsContainer {
    display: flex;
    background-color: black;
    color: black;
    position: fixed;
    left: 10vw;
    bottom: 10vh;
    width: 80vw;
    height: 80vh;
    border: 2px solid #201335;
    z-index: 2;
}

#selectedImage {
    width: 100%;
    object-fit: contain;
}

#imageBody,
#detailsBody {
    display: flex;
}

#imageBody {
    width: 60%;
}

#detailsBody {
    flex-direction: column;
    width: 40%;
    height: 100%;
    background-color: #c5c5c5;
}

#detailsBody p {
    margin: 5px;
}

#close-details {
    height: 20px;
    width: 20px;
    background-color: #c5c5c5;
    align-self: flex-end;
    margin: 5px;
}

#overlayImages {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    background-blend-mode: overlay;
}

#uploadForm * {
    margin: 10px;
    border: 2px solid #201335;
    font-size: 1.2em;
    border-radius: 15px;
}

#uploadButton {
    background-color: #201335;
    color: #c5c5c5;
    width: 120px;
}

#moreButton {
    background-color: #201335;
    border: 2px solid #4f4789;
    border-radius: 25px;
    color: #c5c5c5;
    font-size: 1.2em;
    width: 40vw;
    height: 50px;
}

#moreContainer {
    text-align: center;
    margin: 10px;
}

#detailsBody .allComments p {
    display: inline-block;
}

.allComments {
    margin: 10px 5px;
    border: 2px solid #201335;

    background-color: #4f4789;
    color: white;
}

.navImages {
    background-color: rgba(255, 255, 255, 0.2);
    color: #201335;
    font-size: 4em;
    position: absolute;
    height: 80px;
    width: 3.5vw;
    text-align: center;
    text-decoration: none;
    top: 36vh;
}

#nextImage {
    left: 44.4vw;
}

#commentsContainer {
    margin: 5px;
}

#allCommentsContainer {
    margin: 10px 0px;
    height: 30vh;
    overflow: auto;
}

#addCommentForm {
    margin: 0px 5px;
    text-align: center;
    border: 1px solid #201335;
    border-radius: 25px;
    height: 160px;
    background-color: #201335;
    color: #c5c5c5;
    font-size: 1.1em;
    height: 18vh;
}

#addCommentForm input {
    margin: 5px;
    width: 90%;
    font-size: 1.05em;
}

#addCommentForm button {
    background-color: #4f4789;
    border: 2px solid #c5c5c5;
    border-radius: 20px;
    color: #201335;
    height: 35px;
    margin: 5px;
    width: 40%;
    font-size: 1.05em;
}

.commentInfo {
    font-size: 0.9em;
    color: #201335;
}

span {
    font-style: italic;
    color: white;
}

#imageInfo {
    margin: 5px 10px;
    text-align: center;
    background-color: #4f4789;
    border: 1px solid #4f4789;
    border-radius: 30px;
    color: #201335;
    font-size: 1.1em;
    height: 20vh;
}

#uploadErrMsg {
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    color: red;
    padding: 4px;
}

#commentErrMsg {
    font-size: 0.8em;
    color: red;
}

#delete-icon {
    width: 25px;
}

#delete-bar {
    display: flex;
    justify-content: flex-end;
}

#delete-bar * {
    margin: 0px 5px;
}

#delete-button,
#keep-button {
    width: 100px;
    font-weight: bold;
    border: 3px solid #201335;
    border-radius: 20px;
}

#delete-button {
    background-color: red;
}

#keep-button {
    background-color: green;
}

#img-description-input {
    width: 300px;
}

#img-user-input {
    width: 150px;
}

#img-file-input {
    width: 300px;
}
