* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
}

body {
    background-color: slategray;
}

#titleHead {
    display: flex;
    height: 10vh;
    justify-content: center;
    align-items: center;
    background-color: navy;
    color: whitesmoke;
}

#container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.allImages {
    border: 2px solid navy;
    margin: 10px;
}

.theImage {
    width: 300px;
    height: 300px;
    object-fit: cover;
    background-color: black;
    margin: 5px;
    border-radius: 10px;
}

.theTitle {
    text-align: center;
}

#uploadBar {
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
    background-color: skyblue;
    height: 10vh;
    border: 5px solid navy;
}

#uploadBar form {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
    width: 100%;
}
