* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
}

body {
    background-color: slategray;
}

#titleHead {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
    background-color: navy;
    color: whitesmoke;
}

#container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.allImages {
    border: 2px solid navy;
    margin: 10px;
}

.theImage {
    width: 300px;
    height: 300px;
    object-fit: cover;
    background-color: black;
    margin: 5px;
    border-radius: 10px;
}

.theTitle {
    text-align: center;
}

#uploadBar {
    display: flex;
    align-items: center;
    background-color: skyblue;
    height: 100px;
    border: 5px solid navy;
}

#uploadBar form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

#detailsContainer {
    display: flex;
    background-color: black;
    color: black;
    position: fixed;
    left: 10vw;
    bottom: 10vh;
    width: 80vw;
    height: 80vh;
    border: 2px solid navy;
    z-index: 2;
}

#selectedImage {
    width: 100%;
    object-fit: contain;
}

#imageBody,
#detailsBody {
    display: flex;
}

#imageBody {
    width: 60%;
}

#detailsBody {
    flex-direction: column;
    width: 40%;
    background-color: white;
}

#detailsBody p {
    font-size: 1.5em;
    margin: 10px;
}

#close-details {
    height: 30px;
    width: 30px;
    background-color: white;
    align-self: flex-end;
    margin: 10px;
}

#overlayImages {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    background-blend-mode: overlay;
}

#uploadForm * {
    margin: 10px;
    border: 2px solid navy;
    font-size: 1.2em;
}

#uploadButton,
#moreButton {
    background-color: navy;
    color: white;
}

#moreButton {
    border: 2px solid navy;
    font-size: 1.2em;
    width: 50vw;
}

#moreContainer {
    text-align: center;
    margin: 10px;
}
