* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
}

body {
    background-color: slategray;
}

#container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.allImages {
    border: 2px solid navy;
    margin: 10px;
}

.theImage {
    width: 300px;
    height: 300px;
    object-fit: cover;
    background-color: black;
    margin: 5px;
    border-radius: 10px;
}

.theTitle {
    margin: 2px;
    text-align: center;
}
